{
 :paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases
 {

  :new {:extra-deps {com.github.seancorfield/clj-new
                     {:mvn/version "1.2.362"}}
        :exec-fn clj-new/create
        :exec-args {:template "app"}}

  :check-deps {:extra-deps {bhb/check-deps
                           {:git/url "https://github.com/bhb/check-deps"
                            :sha "ce51e7e0814e4e6095027f34cd7a39475d95d153"}}
               :main-opts ["-m" "bhb.check-deps"]}}

}
