<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1456E123-8D02-4062-B746-CFDBD4FEE1C9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>moviemeter</string>
			<key>text</key>
			<string>Search MovieMeter for '{query}'</string>
			<key>url</key>
			<string>https://www.moviemeter.nl/site/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>524B1F73-4DE6-4DB9-B01B-A84AA0B61B8C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gitlab</string>
			<key>text</key>
			<string>Search GitLab for '{query}'</string>
			<key>url</key>
			<string>https://gitlab.ta.philips.com/search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>96E2D4B7-59A9-43C4-B9D5-B4DEFD526838</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub - Notifications</string>
			<key>url</key>
			<string>https://github.com/notifications?query=is%3Aunread</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C699C192-5111-43CC-9C09-6000E5AF4E9A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Search GitHub</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
